*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 20rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.description-container {
  padding: 0 1em;
}

.description-container .title {
  font-size: 1.5em;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-top: 1em;
  text-align: center;
}

.description-container .content {
    text-align: center;
    color: hsl(216, 15%, 48%);
}
